Package: fcd
Version: 0.6
Architecture: armhf
Section: misc
Priority: standard
Essential: no
Depends: 
Homepage: https://github.com/sensorgnome/fcd
Maintainer: Lucas Berrigan (lberrigan@birdcanada.org)
Description: Control program to set options and update firmware on FuneCube Dongles.
